
##' ------------------------------------------------------------------------
##' IMPORT
##' ------------------------------------------------------------------------

import(methods)
import(parallel)

import(Xmisc)

##import(rbamtools)
importFrom(rbamtools,bamClose)
importFrom(rbamtools,bamReader) 
importFrom(rbamtools,bamRange) 
##importFrom(rbamtools,getCoords)
importFrom(rbamtools,getNextAlign)
importFrom(rbamtools,getRefData) 
importFrom(rbamtools,position) 
importFrom(rbamtools,refID)
importFrom(rbamtools,rewind)
importFrom(rbamtools,size)

#importFrom(changepoint,cpt.mean) 
#importFrom(changepoint,cpt.meanvar) 
importFrom(changepoint,cpttype) 
importFrom(changepoint,cpts) 
importFrom(changepoint,data.set.ts) 
importFrom(changepoint,test.stat) 
importFrom(changepoint,param.est) 


##' ------------------------------------------------------------------------
##' EXPORT
##' ------------------------------------------------------------------------

## exportPattern("^[^\\.]")

export(NGScopy)
export(read_regions)
export(parse_segmtype)
export(help_segmtype)
export(ngscopy_cmdline_example)
export(ngscopy_unittest)
export(df.to.gr)
